<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <!--<link rel="stylesheet" href="bower_components/normalize.css/normalize.css">-->

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <h2>your personal pullups trainer</h2>
    {% if messages %}
    <blockquote>
        {% for message in messages %}
        <p><em>{{ message }}</em></p>
        {% endfor %}
    </blockquote>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
</div>
</body>
</html>
