{% extends "dashboard_base.html" %}
{% block menu %}
    {% include "dashboard_menu.html" with current="apply_goal" %}
{% endblock %}
{% block content %}
<h2>set your goal</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="set">
</form>
{% endblock %}