{% extends "dashboard_base.html" %}
{% block content %}
<div class="row">
    <div class="column"><h2>dashboard</h2>
        {% if request.user.player.goal %}<a class="button" href="{% url 'trainings:training_session' %}">start training</a>{% endif %}
        <a class="button" href="{% url 'trainings:apply_goal' %}">set your goal</a>
    </div>
    <div class="column">
        <h5>your goal</h5>
        <h3>{% if request.user.player.goal %}{{ request.user.player.goal }}{% endif %}</h3>
        <h5>your actual record</h5>
        <h3>{% if request.user.player.actual_record %}{{ request.user.player.actual_record }}{% endif %}</h3>
        <h5>last training sessions</h5>
        <ul>
            {% for session in sessions %}
                <li>{{ session.done_date }} <strong>{{ session.reps_done }} reps</strong></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}