<div class="row" style="margin-bottom: 15px;;">
    <div class="column column-75">
        <a class="button {% if current == 'dashboard' %}button-outline{% else %}button-clear {% endif %}" href="{% url 'trainings:dashboard' %}">Dashboard</a>
        <a class="button {% if current == 'training_session' %}button-outline{% else %}button-clear {% endif %}" href="{% url 'trainings:training_session' %}">Training session</a>
        <a class="button {% if current == 'apply_goal' %}button-outline{% else %}button-clear {% endif %}" href="{% url 'trainings:apply_goal' %}">Set goal</a>
        <a class="button {% if current == 'training_summary' %}button-outline{% else %}button-clear {% endif %}" href="{% url 'trainings:training_summary' %}">Training summary</a>
        <a class="button {% if current == 'chart' %}button-outline{% else %}button-clear {% endif %}" href="{% url 'trainings:chart' %}">Chart</a>
    </div>
    <div class="column column-25 pull-right">
        <span>welcome {{ request.user }}</span>
        <a class="button button-clear" href="{% url 'logout' %}">Logout</a>
    </div>
</div>