<div>
    <div class="float-left">
        app made for educational purposes<br>
        <a href="https://bitbucket.org/grzch/">Grzegorz Szymborski</a>
    </div>
    <div class="float-right">
        <p>
            © 2016 Politchnika Warszawska, Electrical Engineering
        </p>
    </div>
</div>