{% extends "base.html" %}
{% block content %}
<h2>set your goal</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="register">
</form>
{% endblock %}