{% extends "dashboard_base.html" %}
{% block menu %}
{% include "dashboard_menu.html" with current="training_session" %}
{% endblock %}
{% block content %}
<style>
    .pullups-reps{
        width: 40px;
        display: inline-block;
    }

    input.pullups-reps-input{
        display: none;
        width: auto;
    }
</style>
<h2>training session</h2>
<h3>reps in series</h3>
<p>Take breaks from <strong>30 to 60</strong> seconds between series</p>
<ol>
    {% for serie in session.series %}
        <li><h3 class="pullups-reps">{{ serie }}</h3>
    {% endfor %}

</ol>
<form action="." method="POST">
    {% csrf_token %}
    <input type="number" class="pullups-reps-input" id="cantInput" name="reps_done" placeholder="reps made">
    <input type="submit" value="&#10003; done" class="button" href="{% url 'trainings:training_summary' %}"/> <a class="button button-clear" href="#" id="cantButton">&#10060; can't</a></li>
</form>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        // show input for reps made after can't button click
        $('#cantButton').click(function(event){
            event.preventDefault();
            $('#cantInput').show();
            event.target.remove();
        });
    });

</script>
{% endblock %}