{% extends "dashboard_base.html" %}
{% block menu %}
    {% include "dashboard_menu.html" with current="training_summary" %}
{% endblock %}
{% block content %}
<h2>training summary</h2>
{% if not last_training %}
    <p>there is no informations about your training</p>
{% else %}
    {% if not last_training.completed %}
        <p>next time your training will be fitted to your exhaustion</p>
    {% endif %}
        you have done <h4>{{ last_training.reps_done }} reps</h4>
        you should train again in <h4>2 days</h4>

    total done <h4>{{ request.user.player.reps_done }} reps</h4>
    total sessions <h4>{{ request.user.player.sessions_done_number }}</h4>
{% endif %}





{% endblock %}